<html> 
<head> 
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 
<title>Google Maps JavaScript API v3 Example: Map Simple</title> 

<link rel="stylesheet" type="text/css" href="fancybox/jquery.fancybox-1.3.1.css" media="screen" />
<link rel="stylesheet" type="text/css" href="style/screen.css" />
<link rel="stylesheet" type="text/css" href="style/css.css" />

</head> 
<body>
  <div id="view1">
    <div class="spacer"></div>
    <div id="progress">
       <img src="image/loader.gif" alt="">
       loading ...
       <span>jupiter-map</span>
     </div>
    <div class="spacer"></div>
  </div> 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript" src="fancybox/jquery.fancybox-1.3.1.js"></script>
  <script type="text/javascript" src="script/markerclusterer.js"> </script> 
  
  <script type="text/javascript" src="script/script.js"> </script>
  <script type="text/javascript"><!--
  reformal_wdg_domain    = "mappus";
  reformal_wdg_mode    = 0;
  reformal_wdg_title   = "Mappus - Friends on Map";
  reformal_wdg_ltitle  = "Leave+feedback";
  reformal_wdg_lfont   = "Verdana, Geneva, sans-serif";
  reformal_wdg_lsize   = "11px";
  reformal_wdg_color   = "#8a8a8a";
  reformal_wdg_bcolor  = "#516683";
  reformal_wdg_tcolor  = "#FFFFFF";
  reformal_wdg_align   = "left";
  reformal_wdg_waction = 0;
  reformal_wdg_vcolor  = "#9FCE54";
  reformal_wdg_cmline  = "#E0E0E0";
  reformal_wdg_glcolor  = "#105895"
  reformal_wdg_tbcolor  = "#FFFFFF"

  reformal_wdg_bimage = "http://jupiterrr.dyndns.org:9292/image/feedback.png";
   //-->
  </script>

  <script type="text/javascript" language="JavaScript" src="http://widget.idea.informer.com/tab6.js"></script><noscript><a href="http://mappus.idea.informer.com">Mappus - Friends on Map feedback </a> <a href="http://idea.informer.com"><img src="http://widget.idea.informer.com/tmpl/images/widget_logo.jpg" /></a></noscript>
</body> 
</html>