
/* ============= */
/* = Allgemein = */
/* ============= */              

html, body {
    height: 100%; width: 100%;
    margin: 0; padding: 0;
    overflow: hidden;
}
.spacer {-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;}


/* ========== */
/* = Layout = */
/* ========== */

#view1, #view2 {position:absolute; height:100%; width:100%;}
#map_canvas {height:100%; margin-right:300px; z-index:10;}
#aside {
    position: absolute;
    width:300px; height:100%;
    
    background:#F2F3F4;
    top:0; right:0;
    -webkit-box-shadow: 5px 0px 15px 1px #666;
    -moz-box-shadow: 5px 0px 15px 1px #666;
    box-shadow: 5px 0px 15px 1px #666; 
    display: -webkit-box;
    display: -moz-box;
    display: box;  
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    
}


/* ================ */
/* = Seitenleiste = */
/* ================ */

input.search {
    font-size: 12px;
    line-height: 16px;
    padding-right: 22px !important;
    text-indent: 0px;
    /*background-image: url(search.png);*/
    background-image: url(search2.png);
    color: #3B3B3B;
    /*background-position: 100% -432px;*/
    background-position: 100% -27px;
    background-repeat: no-repeat;
    /*outline:none;*/
    border:1px solid #ACACAC !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width:250px;
}
/*input.search:focus {background-position: 100% -3px;}*/
input.search, button.add {
    background-color:white;
    padding: 4px;
    border:1px solid transparent !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 25px;
    margin:5px 0;
    margin-left:5px;
}
button.add {
    cursor:pointer;
    position:relative;
    font-weight:900;
    color: #ACACAC;
    
    background-image: url("plus Kopie.png");
    background-position: 7px 7px;
    background-repeat: no-repeat;
    width: 25px;
    top:0px;
   
}
button.add:active {background-color:#EEE;} 
#searchbar {background:#CFCFCF; padding:0 3px; margin-top:30px; line-height:12px; font-size:16px;}
#aside .content {
    overflow-y: scroll;
/*    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;*/
    height:100%;
    padding-top:10px !important;
    
    width: 300px;
    margin:0; padding:0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    position:relative;
    user-select: none;
}
#datenliste li {cursor:pointer;}
#datenliste li:hover {background:#FFF8E7;}
var {display:none;}


/* ============== */
/* = Bootscreen = */
/* ============== */

#progress {
    position: absolute;
    width: 200px;
    height:20px;
    left:50%; top:40%;
    margin:-10px 0 0 -100px;
    
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -webkit-box-shadow: 0px 5px 30px #888; padding: 30px;
    -moz-box-shadow: 0px 5px 30px #888; padding: 30px;
    box-shadow: 0px 5px 30px #888; padding: 30px;
    text-align: center;
    background-image: url('http://www.bing.com/fd/hpk2/BluestripeSnappers_DE-DE3161759250.jpg');background-position:100% 30%;
}
#progress img {margin-bottom:-2px;}
#progress span {color: #AAA; -webkit-opacity:0.5;-moz-opacity:0.5;opacity:0.5; margin-left:5px;}



/* ============= */
/* = Sonstiges = */
/* ============= */

#modal {
    z-index:9999;
    background:#F2F3F4;
    border: 1px solid #fff;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    
    -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25); padding: 10px;
        -moz-box-shadow: 0px 4px 5px #888; padding: 10px;
        box-shadow: 0px 5px 4px #888; padding: 10px;
    
    /*-webkit-box-shadow: 0px 5px 30px #888; padding: 30px;
            -moz-box-shadow: 0px 5px 30px #888; padding: 30px;
            box-shadow: 0px 5px 30px #888; padding: 30px;*/
    width:350px;
    padding:10px 10px 5px 10px;
    position: absolute;
    top: 40%; left:50%;
    
}
#modal h3 { margin: 6px 0 14px 0;}
#modal footer {text-align:right;}
#modal footer hr {margin-bottom:5px;}
#modal .button {cursor:pointer;}

#fancybox-outer {
    border: 5px solid #fff !important;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

h1 {margin:10px 0 10px 0; font-size:1.8em;}

#settings_ui_plugin_facebook {}
#settings_ui_plugin_facebook fieldset { margin-right: 15px;}
#settings_ui_plugin_facebook section {position: relative; width:47%; float:left; margin-right:6%;}
#settings_ui_plugin_facebook section.last {margin-right:0px;}

#dialog1 fieldset section { }
#settings_ui_plugin_facebook fieldset.last {margin-right: 0px;}
