
/* ============= */
/* = Allgemein = */
/* ============= */              

html, body {
    height: 100%; width: 100%;
    margin: 0; padding: 0;
    overflow: hidden;
}
.spacer {-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;}


/* ========== */
/* = Layout = */
/* ========== */

#view1, #view2 {position:absolute; height:100%; width:100%;}
#map_canvas {height:100%; margin-right:300px; z-index:10;}
#aside {
    position: absolute;
    width:300px; height:100%;
    
    background:#F2F3F4;
    top:0; right:0;
    -webkit-box-shadow: 5px 0px 15px 1px #666;
    -moz-box-shadow: 5px 0px 15px 1px #666;
    box-shadow: 5px 0px 15px 1px #666; 
    display: -webkit-box;
    display: -moz-box;
    display: box;  
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    
}
#feedback {
    height: 33px;
    background: url("../image/feebg.png");
    position:absolute;
    top:-5px;
    left:20%;
    padding:0 8px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 12pt;
    line-height: 27pt;
    text-shadow: 0 1px 1px #999;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); 
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#feedback:hover {
    top:-4px;
    text-shadow: 0 1px -1px #777;
}

/* ================ */
/* = Seitenleiste = */
/* ================ */

input.search {
    font-size: 12px;
    line-height: 16px;
    padding-right: 22px !important;
    text-indent: 0px;
    /*background-image: url(search.png);*/
    background-image: url(search2.png);
    color: #3B3B3B;
    /*background-position: 100% -432px;*/
    background-position: 100% -27px;
    background-repeat: no-repeat;
    /*outline:none;*/
    border:1px solid #ACACAC !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width:250px;
    /*border:1px solid transparent !important;*/
    border:1px solid #999;
}
/*input.search:focus {background-position: 100% -3px;}*/
input.search, button.add {
    background-color:white;
    padding: 4px;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 25px;
    margin:5px 0;
    margin-left:5px;
}
button.add {
    cursor:pointer;
    position:relative;
    font-weight:900;
    color: #a3a3a3;
    padding:0;
    /*background-image: url("plus Kopie.png");
        background-position: 7px 7px;
        background-repeat: no-repeat;*/
       
    border:1px solid #999;
    width: 24px;
    height: 24px;
    top:2px;
    font-size:15px;
    text-align:center;
    text-shadow: 1px 1px 0px #fff;
}

button.add .inner {
    
    background:-webkit-gradient(
             linear,
             left bottom,
             left top,
             color-stop(0, #eee),
             color-stop(1, #fff)
           );
    border:1px solid white;  
    position:relative;
    height:100%;
    width: 20px;
    height:20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

button.add:active {background-color:#EEE;} 
#searchbar {/*background:#CFCFCF;*/ padding:0 3px; margin-top:0px; line-height:12px; font-size:16px; background: 
    
    -webkit-gradient(
         linear,
         left bottom,
         left top,
         color-stop(0, #d3d3d3),
         color-stop(1, #eee)
       );
    border-top:1px solid white;
    outline:1px solid #aaa;
    margin-bottom:1px;
    /*-webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0.20, rgba(180,180,180, 1)),
          color-stop(0.80, rgba(207,207,207, 1)),
          color-stop(1, rgba(220,220,220,1))
        );*/
}
#aside .content {
    overflow-y: scroll;
/*    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;*/
    height:100%;
    padding-top:0px !important;
    
    width: 300px;
    margin:0; padding:0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    position:relative;
    user-select: none;
}


#datenliste {list-style:none;padding:0;margin:0;}
#datenliste li.item {
    cursor:pointer;
    padding:5px 15px;
    border-top:1px solid white;
    border-bottom:1px solid #E2E2E2;
}

#datenliste .item aside {
    float: right;
    margin-right: -10px;
}
#datenliste .item img {
    width: 20px; margin-bottom:-4px;
    margin-left:-2px;
    opacity: 0.25;
}
#datenliste li.item:hover img, #datenliste li.active img {
    width: 20px; margin-bottom:-4px;
    margin-left:-2px;
    opacity: 0.8;
}
#datenliste br {display:none;}
/*
#datenliste li:nth-child(odd){background:transparent;}
#datenliste li:nth-child(even){background:#dcebf4;}

*/
#datenliste li.item:hover {background:#FFF8E7;}

#datenliste li.active {
    background: #FFF8E7;
}

#datenliste li ul.adressen {
    padding:0; margin:10px 0 0 0;
    list-style:none;
    position:absolute;
    display:none;
}
#datenliste li ul.adressen li {
    
}

/* ============== */
/* = Bootscreen = */
/* ============== */

#progress {
    position: absolute;
    width: 200px;
    height:20px;
    left:50%; top:40%;
    margin:-10px 0 0 -100px;
    
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -webkit-box-shadow: 0px 5px 30px #888; padding: 30px;
    -moz-box-shadow: 0px 5px 30px #888; 
    box-shadow: 0px 5px 30px #888; 
    text-align: center;
    background-image: url('http://www.bing.com/fd/hpk2/BluestripeSnappers_DE-DE3161759250.jpg');background-position:100% 30%;
}
#progress img {margin-bottom:-2px;}
#progress span {color: #AAA; -webkit-opacity:0.5;-moz-opacity:0.5;opacity:0.5; margin-left:5px;}



/* ============= */
/* = Sonstiges = */
/* ============= */

#modal {
    z-index:9999;
    background:#F2F3F4;
    border: 1px solid #fff;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    
    -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25); padding: 10px;
        -moz-box-shadow: 0px 4px 5px #888; padding: 10px;
        box-shadow: 0px 5px 4px #888; padding: 10px;
    
    /*-webkit-box-shadow: 0px 5px 30px #888; padding: 30px;
            -moz-box-shadow: 0px 5px 30px #888; padding: 30px;
            box-shadow: 0px 5px 30px #888; padding: 30px;*/
    width:350px;
    padding:10px 10px 5px 10px;
    position: absolute;
    top: 45%; left:50%;
    
}
#modal h3 { margin: 6px 0 14px 0;}
#modal footer {text-align:right;}
#modal footer hr {margin-bottom:5px; margin-top:1.45em;}
#modal .button {cursor:pointer;}
#modal img.loading {position:relative;top:3px;}
#modal #form {
    /*-webkit-box-shadow:inset 0 1px 1px #888; 
        -moz-box-shadow:inset 0 1px 1px #888; 
        box-shadow:inset 0 1px 1px #888; */
    border:0;
    padding:0 0 0 1.4em;
}
#modal footer a {margin-left:7px;}
#modal footer a.big {font-size:1.5em;} 

#modal nav {
    position:absolute;
    top:-24px;
}
#modal nav a {
    padding:3px 6px 1px 6px;
    display:inline-block;
    background: #F0F0F0;
    border: 1px solid #fff;
    position:relative;
    color: #999;
    text-decoration:none;
    -webkit-border-radius: 5px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
   
    -webkit-box-shadow:inset 0 -1px 1px rgba(0,0,0,0.05);
    
    z-index:45;
 }

#modal nav a.active {
    border-bottom-color:#F2F3F4;
    background: #F2F3F4;
    color:#000;
    -webkit-box-shadow:none;
    z-index:50;
    }
#modal nav a:hover {
  color:#888;
  border-color:#cfcfcf;
  border-bottom-color:white;
}
#modal nav a.active:hover {
  border-bottom-color:#F2F3F4;
  background: #F2F3F4;
  color:#000;
}   
  
#fancybox-outer {
    border: 5px solid #fff !important;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}


h1 {margin:10px 0 10px 0; font-size:1.8em;}

#settings_ui_plugin_facebook {}
#settings_ui_plugin_facebook fieldset { margin-right: 15px;}
#settings_ui_plugin_facebook section {position: relative; width:47%; float:left; margin-right:6%;}
#settings_ui_plugin_facebook section.last {margin-right:0px;}

#dialog1 fieldset section { }
#settings_ui_plugin_facebook fieldset.last {margin-right: 0px;}


.tipsy { padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(../image/tipsy.gif); }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center; }
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }


div.furjbqy a {
    display:none;
}


@-webkit-keyframes spinnerColor {
	from {
		-webkit-box-shadow: 0px 0px 5px 2px rgba(100, 0, 0, 0.25); 
	}                                   
	15% {                               
		-webkit-box-shadow: 0px 0px 5px 2px rgba(100, 0, 0, 0.25); 
	}                                   
	50% {                               
		-webkit-box-shadow: 0px 0px 2px 2px red; 
	}                                   
	85% {                               
		-webkit-box-shadow: 0px 0px 5px 2px rgba(100, 0, 0, 0.25); 
	}                                   
	to {                                
		-webkit-box-shadow: 0px 0px 5px 2px rgba(100, 0, 0, 0.25); 
	}
}

#nodatasaved {
    color: #999;
    position: relative;
    bottom:-18px;
}

